/* Colors
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

/* The following effectively removes the browser presets so we are able to manipulate css from ground 0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
	vertical-align: baseline;
}

html {
    background-color: #2B2733;
    color: #CBC9CF;
}

nav {
    background-color: #46424D;
    width: 100vw;
    height: 5vh;
    margin: 0;
    padding: 10px;
    top: 0;
    text-align: center;
}

h1 {
    margin: 6px;
    font-size: 24px;
}

/* Main Body */

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h2 {
    font-size: 28px;
    margin-left: 35px;
    margin-top: 40px;
}

h3 {
	margin-bottom: 20px;
}

.new-activity {
    width: 60vw;
    height: 95vh;
}

.past-activities {
    width: 40vw;
    border-left: 4px solid #46424D;
    height: 95vh;
}

.no-activities {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}

.form-wrapper {
	background-color: #46424D;
	margin: 0 35px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin-top: 50px;
    height: 600px;
	padding: 40px 80px;
}

.timer-wrapper {
	background-color: #46424D;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 35px;
	margin-top: 15px;
	height: 600px;
	padding: 40px 80px;

}

.time-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: large;
}

.time-function {
	font-size: 70px;
	font-weight: bolder;
	margin-bottom: 50px;
}

.categories {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
}

button {
    background-color: transparent;
    border: 2px solid #CBC9CF;
    color: #CBC9CF;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    width: 185px;
    max-height: 80px;
    border-radius: 6px;
    appearance: none;
}

button > p {
	color: #CBC9CF
}

.start-btn {
	min-height: 250px;
	width: 250px;
	line-height: 250px;
	text-align: center;
    border-radius: 50%;
	font-size: x-large;
}

/* Radio Button, neutral, checked, and hover states styling */

.categories input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.categories label {
    background-color: transparent;
    border: 2px solid #CBC9CF;
    color: #CBC9CF;
    display: flex;
    flex-direction: column;
	justify-content: space-around;
    align-items: center;
    width: 185px;
    max-height: 80px;
    border-radius: 6px;
    appearance: none;
    padding: 10px;
}

label > p {
	margin-top: 35px;
	padding-top: 10px;
}

#studyBtn + label {
    background-image: url('assets/study.svg');
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: 30px;
	padding-top: 0;
}

#meditateBtn + label {
	background-image: url('assets/meditate.svg');
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: 30px;
	padding-top: 0;
}

#exerciseBtn + label {
	background-image: url('assets/exercise.svg');
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: 30px;
	padding-top: 0;
}

#meditateBtn:checked + label,
#meditateBtn:hover + label {
	background-image: url('assets/meditate-active.svg');
	background-repeat: no-repeat;
    color: #C278FD;
    border-color: #C278FD;
    box-shadow: 0 0 10px #C278FD;
}

#studyBtn:checked + label,
#studyBtn:hover + label {
	background-image: url('assets/study-active.svg');
	background-repeat: no-repeat;
	background-size: 30px;
    color: #B3FD78;
    border-color: #B3FD78;
    box-shadow: 0 0 10px #B3FD78;
}

#exerciseBtn:checked + label,
#exerciseBtn:hover + label {
	background-image: url('assets/exercise-active.svg');
	background-repeat: no-repeat;
    color: #FD8078;
    border-color: #FD8078;
    box-shadow: 0 0 10px #FD8078;
}

img {
	max-height: 25px;
}

.study-btn,
.meditate-btn,
.exercise-btn {
    padding: 30px;
}

.activity-button-wrapper {
	display: flex;
	justify-content: flex-end;
}

/* Data Model realted buttons */

.start-activity {
    background-color: #CBC9CF;
	color: #2B2733;
	bottom: 50px;
	padding: 7px 25px;
	border-radius: 3px;
	width: 200px;
	font-size: large;
}

.log-act-btn {
    margin-top: 50px;
    background-color: #CBC9CF;
    width: 300px;
    color: #2B2733;
    padding: 7px;
    font-size: large;
}

.time-input {
    width: 40%;
}

.user-time {
    display: flex;
    justify-content: space-between;
}

.minutes-style,
.seconds-style {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.label-style > p {
	margin-bottom: 30px;
}

.input-style {
    background-color: transparent;
	border:	0;
    border-bottom: 3px solid #CBC9CF;
    height: 20px;
	width: 100%;
    vertical-align: text-bottom;
    font-size: 18px;
    color: #CBC9CF;
}

/* Error message graphic */

.error-border {
    border-color: #EFB7EC;
}

.error-wrapper > p {
    font-size: large;
    margin-left: 15px;
}
.error-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #EFB7EC;
    margin-top: 17px;
}

/* Hide element */

.hidden {
    display: none;
}

/* Card Display area and individual card styling */

.deck {
 height: 100%;
 width: 100%;
}

.card-wrapper {
	margin-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 25px;
}

.card {
    color: FFF;
    background-color: #46424D;
    margin: 18px;
    height: 125px;
    width: 100%;
    box-shadow: 5px 5px 12px #26222D;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-details {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    font-size: large;
    font-weight: 900;
}

.card-time {
    font-size: larger;
    font-weight: normal;
}

.card-activity {
    font-style: italic;
}

.card-marker {
    width: 5px;
    height: 50px;
    margin: 10px;
    border-radius: 2px;
}

/* Create New Activity Page */

.create-new-wrapper {
    display: flex;
    justify-content: center;
    background-color: #46424D;
    height: 75vh;
    margin: 35px;
}

.create-new-btn {
    margin-top: 150px;
    height: 50px;
    width: 500px;
    background-color: #CBC9CF;
    color:#2B2733;
    font-size: large;
}
