/* Colors
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

/* The following effectively removes the browser presets so we are able to manipulate css from ground 0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
	vertical-align: baseline;
}


html {
    background-color: #2B2733;
    color: #CBC9CF;
}

nav {
    background-color: #46424D;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 10px;
    top: 0;
    text-align: center;
}

h1 {
    margin: 6px;
    font-size: 28px;
}

/* Main Body */

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h2 {
    font-size: 28px;
    margin-left: 35px;
    margin-top: 40px;
}

h3 {
	margin-bottom: 20px;
}

.new-activity {
    width: 60%;
}

.past-activities {
    width: 40%;
    border-left: 4px solid #46424D;
}

.no-activities {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}

.form-wrapper {
	background-color: #46424D;
	margin: 0 35px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
		margin-top: 50px;
    height: 600px;
		padding: 40px 80px;
}

.categories {
    display: flex;
    flex-direction: row;
		justify-content: space-between;
}

button {
    background-color: transparent;
    border: 2px solid #CBC9CF;
    color: #CBC9CF;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    width: 185px;
    max-height: 80px;
    border-radius: 6px;
    appearance: none;
}

button > p {
	color: #CBC9CF
}

.categories input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.categories label {
    background-color: transparent;
    border: 2px solid #CBC9CF;
    color: #CBC9CF;
    display: flex;
    flex-direction: column;
	justify-content: space-around;
    align-items: center;
    width: 185px;
    max-height: 80px;
    border-radius: 6px;
    appearance: none;
    padding: 10px;
}

.categories input[type="radio"]:checked + label {
    color: #C278FD;
    border-color: #C278FD;
    box-shadow: 0 0 10px #C278FD;
}

.categories input[type="radio"]:hover + label {
    color: #C278FD;
    border-color: #C278FD;
}

img {
	max-height: 25px;
}

.study-btn,
.meditate-btn,
.exercise-btn {
	padding: 30px;
}

.user-activity-wrapper {
    display: flex;
    flex-direction: column;
}

.activity-button-wrapper {
	display: flex;
	justify-content: flex-end;
}

.start-activity {
    background-color: #CBC9CF;
		color: #2B2733;
		bottom: 50px;
		padding: 7px 25px;
		border-radius: 3px;
		width: 200px;
		font-size: large;
}

.user-time {
    display: flex;
    justify-content: space-between;
}

.minutes-style,
.seconds-style {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.label-style > p {
	margin-bottom: 30px;
}

.input-style {
    background-color: transparent;
		border:	0;
    border-bottom: 3px solid #CBC9CF;
    height: 20px;
    /* margin-top: 30px; */
    /* padding-bottom: 0; */
    vertical-align: text-bottom;
    font-size: 18px;
    color: #CBC9CF;
}

.error-border {
    border-color: #EFB7EC;
}


.error-wrapper > p {
    font-size: large;
    margin-left: 15px;
}
.error-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #EFB7EC;
    margin-top: 17px;
}
.hidden {
        display: none;
    }

